# What is Pandas?

### Pandas is a powerfull library used to manipulate data

# How to use Pandas

### <li> Data analysis
### <li>Data manipulation
### <li>Prepare data
### <li>Show data (as graphics, for example)

## Let´s start with a basic example.

#### First we must import the Pandas library

In [23]:
import pandas as pd

#### This example consists about extract the data and manipulate it from a dictionary called users which contains the data of different people.

In [24]:
users = {
    "Name": ["John", "Mary", "Bobby", "Dean", "Sam"],
    "Surname": ["McClane", "Christmas", "Singer", "Winchester", "Winchester"],
    "Email": ["john@example.com", "mary@example.com", "bobby@example.com", "dean@example.com", "sam@example.com"],
    "Phone": ["123-123-4567", "456-987-6543", "789-567-8901", "654-234-5678", "963-678-9012"],
    "Age": [12, 27, 22, 30, 24],
    "Address": ["New York", "Las Vegas", "Michigan", "Detroit", "Los Angeles"]
}

#### Now we create a var to manipulate the dataframe. After that, we create another variable refering the one before to detect which of them are 18 years old or more.

In [25]:
users_df = pd.DataFrame(users)
above_age = users_df[users_df["Age"] >= 18]

print(above_age)

    Name     Surname              Email         Phone  Age      Address
1   Mary   Christmas   mary@example.com  456-987-6543   27    Las Vegas
2  Bobby      Singer  bobby@example.com  789-567-8901   22     Michigan
3   Dean  Winchester   dean@example.com  654-234-5678   30      Detroit
4    Sam  Winchester    sam@example.com  963-678-9012   24  Los Angeles

#### Now we can see which of the users are 18 years old or older with their respective data

#### The example below shows how to access to Name and Surname. It consists about create a variable called only_names, which contains users_df refering to Name + Space + Surname.

In [26]:
only_names = users_df["Name"] + " " + users_df[ "Surname"]
print(only_names)

0       John McClane
1     Mary Christmas
2       Bobby Singer
3    Dean Winchester
4     Sam Winchester
dtype: object

####

#### As can be seen, there´s a message at the end of the output. It can be avoid by another way to write the code.

In [27]:
for name in only_names:
    print(name)

John McClane
Mary Christmas
Bobby Singer
Dean Winchester
Sam Winchester

#### If we want to sort by alphabet, age, or anyhow, we can do it.

In [28]:
df_organized = users_df.sort_values(by='Age', ascending=False)
print(df_organized)

    Name     Surname              Email         Phone  Age      Address
3   Dean  Winchester   dean@example.com  654-234-5678   30      Detroit
1   Mary   Christmas   mary@example.com  456-987-6543   27    Las Vegas
4    Sam  Winchester    sam@example.com  963-678-9012   24  Los Angeles
2  Bobby      Singer  bobby@example.com  789-567-8901   22     Michigan
0   John     McClane   john@example.com  123-123-4567   12     New York

In [29]:
df_organized = users_df.sort_values(by="Name", ascending=False)
print(df_organized)

    Name     Surname              Email         Phone  Age      Address
4    Sam  Winchester    sam@example.com  963-678-9012   24  Los Angeles
1   Mary   Christmas   mary@example.com  456-987-6543   27    Las Vegas
0   John     McClane   john@example.com  123-123-4567   12     New York
3   Dean  Winchester   dean@example.com  654-234-5678   30      Detroit
2  Bobby      Singer  bobby@example.com  789-567-8901   22     Michigan

In [30]:
print(users_df["Surname"]=="Winchester")

0    False
1    False
2    False
3     True
4     True
Name: Surname, dtype: bool